{% extends 'CoolerMainBundle::layout.html.twig' %}

{% block css %}
	{{parent()}}
	<link rel="stylesheet" type="text/css" href="{{asset('css/sidemenu.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/profile.css')}}">
{% endblock css %}

{% block content %}
<div class="container opacityOff">
	 
	
	<div class="header">
		<a href="#" id="profileFridge"><img src="{{asset('img/fridge.png')}}" alt="fridge icon"></a>
		<a href="#" id="profileClose"><img src="{{asset('img/close.png')}}" alt="close"></a>
	</div>

	<div class="profilepic">
        {% if beer.filepath is not null  %}
		  <img src="{{ url('home') }}img/beers/{{ beer.filepath }}" alt="">
        {% else  %}
            <p>no picture</p>
        {% endif %}
	</div>

	<h1>{{ beer.name }}</h1>

<div class="description">

	<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="">Description</a></li>
        <li><a href="">Map</a></li>
    </ul>
 
    <div class="tab-content">
        <div id="tab1" class="tab active">
            <p>{{ category }}</p>
            <p>{{ style }}</p>
            <p>{{ beer.descript }}</p>
        </div>
 
        <div id="tab2" class="tab">
            <p>Tab #2 content goes here!</p>
            <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum risus ornare mollis. In hac habitasse platea dictumst. Ut euismod tempus hendrerit. Morbi ut adipiscing nisi. Etiam rutrum sodales gravida! Aliquam tellus orci, iaculis vel.</p>
        </div>

    </div>
</div>


	
</div>
{% endblock content %}

  {% block javascript %}
	{{parent()}}
    <script src="{{asset('js/sidemenu.js')}}"></script>
    <script src="{{asset('js/addabeer.js')}}"></script>
    <script src="{{asset('js/autocomplete.js')}}"></script>
    
  {% endblock %}