{% extends 'CoolerMainBundle::layout.html.twig' %}

{% block css %}
	{{parent()}}
	<link rel="stylesheet" type="text/css" href="{{asset('css/sidemenu.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/profile.css')}}">
    {% if location.latitude != 0 %}
        <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDq12Tjp91Ck4w1RYkYEbI23rsxmarrOyM">
        </script>
        <script type="text/javascript">
              function initialize() {
                var mapOptions = {
                  center: { lat: {{location.latitude}}, lng: {{location.longitude}}},
                  zoom: 8
                };
                var map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);
                var myLatlng = new google.maps.LatLng({{location.latitude}}, {{location.longitude}});
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map
                });
              }
              google.maps.event.addDomListener(window, 'load', initialize);

        </script>
    {% endif %}


{% endblock css %}

{% block content %}
<div class="container opacityOff">
	 
	
	<div class="header">
		<a href="#" id="profileFridge" data-addtocoolerajaxroute="{{ path('add_to_cooler', {}) }}" data-removefromcoolerajaxroute="{{ path('remove_from_cooler', {}) }}" data-beerid="{{ beer.id }}" >
            {% if beerIsInCooler == true %}
                <img src="{{asset('img/frigovert.png')}}" alt="fridge icon"></a>
            {% else %}
                <img src="{{asset('img/fridge.png')}}" alt="fridge icon"></a>
            {% endif %}
            <div id='loading' style='display: none'><img src="{{asset('img/ajax-loader.gif')}}" title="Loading" /></div>
            
		<a href="#" id="profileClose"><img src="{{asset('img/backButton.png')}}" alt="close"></a>
	</div>

	<div class="profilepic">
        {% if beer.filepath != ''  %}
		  <img src="{{ url('home') }}img/beers/{{ beer.filepath }}" alt="">
        {% else  %}
            <img src="{{ url('home') }}img/beers/duvel.png" alt="">

        {% endif %}
	</div>

	<h1>{{ beer.name }}</h1>

<div class="description" id="NTM_leuven">

	<div class="tabs">
        <ul class="tab-links">
            <li class="active"><a href="#tab-1">Description</a></li>
            <li><a href="#tab-2">Map</a></li>
        </ul>
     
        <div class="tab-content">

            <div id="tab-1" class="tab active">
                <p>Category : <span>{{ category }}</span></p>
                <p>Style : <span>{{ style }}</span></p>
                {% if beer.descript != '' %}
                    <p>Description : <span>{{ beer.descript }}</span></p>
                {% endif %}
                

            </div>
     
            <div id="tab-2" class="tab">
                {% if location.latitude != 0 %}
                    <div id="map-canvas"></div>
                {% else %}
                    <p>No location information</p>
                {% endif %}
            </div>

        </div>
    </div>


	
</div>
<div class="variables" data-beerid = "{{ beer.id }}"></div>
{% endblock content %}

  {% block javascript %}
	{{parent()}}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{{asset('js/sidemenu.js')}}"></script>

    <script src="{{asset('js/beerProfile.js')}}"></script>
    <script>
        $(function() {
          $( ".tabs" ).tabs();
        });
    </script>
    
  {% endblock %}