{% extends 'CoolerMainBundle::layout.html.twig' %}

{% block css %}
	{{parent()}}
	<link rel="stylesheet" type="text/css" href="{{asset('css/sidemenu.css')}}">
{% endblock css %}

{% block content %}
<!-- 	<h1>home</h1>
	<h2>hello {{user.username}}</h2> -->
	<div class="header">
		<a href="#" id="fridgeIcon"><img src="{{asset('img/fridge.png')}}" alt="fridge icon"></a>
		<a href="#" id="menuButton"><img src="{{asset('img/burgerMenuButton.png')}}" alt="menu icon"></a>
		
		<img src="{{asset('img/beerlogo.png')}}" alt="">
	</div>

	{{ include("CoolerMainBundle:Menus:sidemenu.html.twig", {"user": user})}}


	<form action="POST">
		<input type="text" data-autocompleteroute="{{ path('search_beer', {}) }}" id="addabeer"/>
		<a href="#" style="display:none" class="backButton"><img src="{{asset('img/close.png')}}" alt="menu icon"></a>
		<ul id="autocomplete"></ul>
	</form>

	<a href="#" class="circleButton addabeer">Add a Beer</a>
	<a href="{{ path('findabar', {}) }}" class=" findabar circleButton">Find a Bar</a>
	<a href="#" class="shareabeer circleButton">Beer Now</a>
	

{% endblock content %}

  {% block javascript %}
	{{parent()}}
    <script src="{{asset('js/sidemenu.js')}}"></script>
    <script src="{{asset('js/addabeer.js')}}"></script>
    <script src="{{asset('js/autocomplete.js')}}"></script>
    
  {% endblock %}  