{% extends 'CoolerMainBundle::layout.html.twig' %}

{% block css %}
	{{parent()}}
	<link rel="stylesheet" type="text/css" href="{{asset('css/sidemenu.css')}}">
{% endblock css %}

{% block content %}
<div class="container opacityOff">
<!-- 	<h1>home</h1>
	<h2>hello {{user.username}}</h2> -->
	<div class="header">
		<a href="{{ path('cooler', {'userId' : user.id}) }}" id="fridgeIcon"><img src="{{asset('img/fridge.png')}}" alt="fridge icon"></a>
		<a href="#" id="menuButton"><img src="{{asset('img/burgermenubutton.png')}}" alt="menu icon"></a>
		
		<img src="{{asset('img/logoettitre.png')}}" alt="">
	</div>


	<form action="POST">
		<input type="text" data-autocompleteroute="{{ path('search_beer', {}) }}" id="addabeer"/>
		<a href="#" style="display:none" class="backButton"><img src="{{asset('img/close.png')}}" alt="menu icon"></a>
		<ul id="autocomplete"></ul>
	</form>

	<a href="#" class="circleButton addabeer">Add a Beer</a>
	<a href="{{ path('findabar', {}) }}" class=" findabar circleButton">Find a Bar</a>
	<a href="#" class="shareabeer circleButton">Beer Now</a>
	
</div>
	{{ include("CoolerMainBundle:Menus:sidemenu.html.twig", {"user": user})}}

	
	<li class="beer template" >
		<a href="" >
			<div class="fridge" id="">
				<img src="../img/frigogris.png" alt="" />
			</div>
			<img src="" alt="" />
			<h2></h2>
			<p class="teint" ></p>
			<p class="alcohol" ></p>
		</a>
	</li>
	<span class="variables" data-addtocoolerajaxroute="{{ path('add_to_cooler', {}) }}" data-beerprofileroute="{{ path('beer', { 'beerId' : 'xxxxx'}) }}" data-userid = "{{ user.id }}"></span>
{% endblock content %}

  {% block javascript %}
	{{parent()}}
    <script src="{{asset('js/sidemenu.js')}}"></script>
    <script src="{{asset('js/addabeer.js')}}"></script>
    <script src="{{asset('js/autocomplete.js')}}"></script>
    
  {% endblock %}  